<div class="form-group">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" class="form-control">
    <!-- Form controls automatically receive some global styling with Bootstrap: All textual <input> , <textarea> , and <select> elements with class .form-control have a width of 100%. -->
</div>
<div class="form-group">
    <label for="desciption">Description</label>
    <textarea name="desciption" id="desciption" class="form-control"><%= article.desciption %></textarea>
</div>
<div class="form-group">
    <label for="markdown">Markdown</label>
    <textarea required name="markdown" id="markdown" class="form-control"><%= article.markdown %></textarea>
</div>

<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>
